# Default values for iot-telemetry-simulator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

# Values for the container
deviceCount: 100
iotHubConnectionString: ""
devicePrefix: "sim"
deviceIndex: 1
messageCount: 0
interval: 1000
fixPayload: ''
fixPayloadSize: 0
template: "{ \"deviceId\": \"$.DeviceId\", \"temp\": $.Temp, \"Ticks\": $.Ticks, \"Counter\": $.Counter, \"time\": \"$.Time\", \"engine\": \"$.Engine\", \"source\": \"$.MachineName\" }"
header: ""
variables: "[{name: \"Temp\", random: true, max: 25, min: 23}, {name:\"Counter\", min:100}, {name:\"Engine\", values: [\"on\", \"off\"]}]"

image:
  repository: fbeltrao/azureiot-telemetrysimulator
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

nodeSelector: {}
affinity: {}
tolerations: {}

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi